[user]
  name = Haotian Wu
  email = wu.haotian@me.com

[github]
  user = Xe0n0

[alias]
  br = branch
  cb = "!sh -c 'git branch $1 && git ch $1' -"
  ctb = "!sh -c 'git cb topics/$1' -"
  ch = checkout
  d = diff
  st = status --short

  graph = log --graph
  last = log -n 10
  commits = "!sh -c 'git log $1 --oneline | cut -d\" \" -f 1 | tr \"\n\" \" \"'"
  url = !git remote -v|sed "'s|.*git[:@]\\(.*\\).git.*|http://\\1|;s|m:|m/|'"|uniq|xargs open
  whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
  discard = checkout -- .

[push]
  default = simple

[color]
  ui = true

[core]
  editor = vim
  excludesfile = ~/.gitignore
  #pager = diff-highlight | less -r

[format]
  pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
  graph = true

[advice]
  statusHints = false

[log]
  abbrevCommit = true

# URL shorthands
# gh:paulmillr/dotfiles
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "gh:"
  pushInsteadOf = "git://github.com/"

# gist:3928760
[url "git@gist.github.com:"]
  insteadOf = "gist:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"

[mergetool]
	keepBackup = false
[ghi]
	token = !security find-internet-password -a Xe0n0 -s github.com -l 'ghi token' -w
[pull]
	rebase = true
[http]
	cookiefile = /Users/wuhaotian/.gitcookies
[credential]
	helper = corpsso
